.titulo{    
    height: 100vh;
    color: white;
}
.titulo h1{
    font-size: 50px;
    transform: translateY(-300px);
    animation: downAndShow 1000ms cubic-bezier(0.18, .25, 0.1, 1.15) forwards;
    color: rgba(255, 255, 255, 0);
}
@keyframes downAndShow {
    to{
        transform: translateY(-00px);
        color: rgb(255, 255, 255);
    }
}