@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
*{
    font-family: Poppins;
    box-sizing: border-box;
}
body{
    box-sizing: border-box;
    margin:0;
    color: rgb(255, 255, 255);
    max-width: 100%;
    background-color: black;
}
.support-base-div{
    padding: 0px;
    background: -webkit-linear-gradient(to top, #283e51b9, #0A2342b9); 
    background: linear-gradient(to top, #473f5094, #07224246); 
    background: -olinear-gradient(to top, #283E51b9, #0A2342b9); 
    background-attachment: fixed;
}

p, li, ul{
    text-align:left;
    
}
h1, h2, h3{
    text-align: center;
}
p{
    text-indent: 2rem;
    line-height: 3rem
}
.paragrafo-cartinha{
    border: 1px solid rgba(255, 255, 255, 0);
    padding: 5rem;    
    box-sizing: border-box;
    padding-left:100px;
    padding-right:100px; 
    text-align: center;
    margin: 0px;   /* box-shadow: 0px 0px 25px rgba(15, 15, 15, 0.438); */
}
.bloco{
    color: rgb(34, 34, 34);
}
.bc-white{
    background-color: white;
}
.bc-grey{
    background-color: rgb(209, 209, 209);
    color: rgb(77, 77, 77);
}
@keyframes fedout {
    from {
        transform: translateY(-0px);
        color: rgba(226, 209, 209, 0);
    }
    to {
        color: rgb(255, 255, 255);
    }
}
.titulo{
    width: 100%;
}
.lista, .titulo{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
}
.slider{
    height: fit-content;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 500px;
    border: 1px solid red;
}
.slider-double img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-container{
    box-shadow: 0px 0px 10px black;
    border-radius:15px;
    width: 300px;
    object-fit: contain;
    height: auto;
}


img{
    max-width: 200px;
}